<p id="notice"><%= notice %></p>

<div class="container center-align padding">
  <%= image_tag("profile_pic_square.jpg", class: "profile-pic")%>
  <h1>Lewis Youl</h1>
  <h2>Software Engineer</h2>
</div>

<div class="container content padding flex-grid">
  <div class="col">
    <h2>Recent Blog Posts</h2>
    <% @recent_posts.each do |post| %>
      <h5><%= post.title %></h3>
    <% end %>
  </div>
  <div class="col">
  <h2>Twitter Feed</h2>
  </div>
</div>
