

<div class="container">
  <div class="title">
    <h1>Posts</h1>
  </div>
  <% @posts.each do |post| %>
      <div class="synopsis-wrapper">
        <div class="post-title"><h2><%= link_to(post.title, post_path(post)) %></h1></div>
        <div class="post-synopsis"><p><%= post.synopsis %></p></div>
        <div class="date-synopsis"><p><%= post.created_at.to_formatted_s(:long_ordinal) %></p></div>
        <hr>
      </div>
  <% end %>
</div>
