<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, no_intra_emphasis: true, 
    fenced_code_blocks: true,   
    disable_indented_code_blocks: true) %>
<div class="container">
  <div class="post-wrapper">
    <div class="show-post-title">
      <h1><%= @post.title %></h1>
      <p class="date"><%= @post.created_at.to_formatted_s(:long_ordinal) %></p>
    </div>
    <hr>
    <div class="post-body">
      <%= markdown.render(@post.body_one).html_safe %>
    </div>
  </div>
</div>