<div class="container">
  <div class="post-wrapper">
    <div class="show-post-title">
      <h1><%= @post.title %></h1>
      <p class="date"><%= @post.created_at.strftime('%d %B %Y') %></p>
    </div>
    <hr>
    <div class="post-body">
      <%= markdown(@post.body_one) %>
    </div>
  </div>
</div>