body {
  background-color: #dbdbdb;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto Slab', serif;
}

.container {
  max-width: 960px;
}

.nav {
  height: 5vh;
}

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
  text-align: center;
  padding: 8px;
  background-color: white;
}

.nav-col-left {
  border-radius: 0px 0px 0px 10px;
}

.nav-col-right {
  border-radius: 0px 0px 10px 0px;
}
