@import "bootstrap";
@import "font-awesome";
@import "*";
@import 'github';

h1 {
  font-size: 42px;
  margin: 10px;
}

h2 {
  margin: 10px;
}

div.center-align {
  text-align: center;
}

h1, h2, h3, h4, h5, a {
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
}

.vertical-line {
  border-left: 2px solid #AFD275;

  @media only screen and (max-width : 420px) {
    display: none;
  }
}

.searchbar {
  margin-left: 60px;
  border: none;

  @media only screen and (max-width : 420px) {
    margin-left: 20px;
  }

  &:focus {
    outline: none;
  }
}

.fake-anchor {
  color: rgb(152, 185, 99);
  cursor: pointer;
  &:hover {
    color: rgb(87, 105, 57);
  }
}

.icon {
  color: #AFD275;
  
  &:hover {
    color: rgb(87, 105, 57);
    cursor: pointer;
  }

  &-small {
    color: #AFD275;
    font-size: 12px;
    position: relative;
    bottom: 4px;
  }

}

// code {
//   color: black;
//   font-size: 15px;
// }

// pre {
//   background: #002A35!important;
//   color: #93A1A1!important;
// }

.container {
  background-color: white;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 30px 0px 30px 0px;
  
  &--navbar {
    max-width: 900px;
    background-color: white;
    top: 0;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
  }
}

.nav {
  height: 5vh;
}

.nav-button {
  color: black;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
  text-align: center;
  padding: 8px;
}

p {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

input.test {
  width: 120px;
  border-radius: 5px;
  background-color: #6eddaf;
  padding: 10px;
  &:hover {
    background-color: #7af482;
  }
}

// FLEXBOX

.flex-1 { flex: 1; }
