// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-pic {
    width: 120px;
    height: 120;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
}

.profile-pic:hover {
    cursor: pointer;
}

h5.page-number {
    color: grey;
}

p.post-synopsis {
    padding-top: 15px;
    padding-bottom: 5px;
}

p.date-synopsis {
    padding-top: 5px;
    padding-bottom: 15px;
}

a {
    color: rgb(152, 185, 99);
}

.icon-link {
    font-size: 15px !important;
    margin-left: 8px;
    margin-right: 8px;
}

.text-link {
    font-size: 15px;
    padding: 8px;
    font-weight: bolder;
}

.text-link:hover {
    background-color: #dbdbdb;
}

a:hover {
    text-decoration: none;
    color: rgb(87, 105, 57)
}

button.arrows {
    border: none;
}

.date-tag-row {
    display: flex;
}

.date-container {
    flex: 1;
}

.tags-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.tag-container {
    background-color: rgb(152, 185, 99);
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px;
    font-family: 'Roboto Slab', serif;
    color: white;
    height: 20px;
}

@media (max-width: 768px) { 
    .content { 
        flex-direction: column; 
    } 
} 
